@keyframes gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.profile-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.profile-title {
  max-width: unset;
  text-align: center;
  width: 100%;
}

.profile-info-container {
  background: linear-gradient(169deg, #1f2224 78%, #2d302cfc);
  border-radius: 8px;
  box-shadow: 1px 1px 1px 2px #2c2c2c;
  color: #3eac38;
  display: flex;
  flex-direction: column;
  font-family: Roboto , sans-serif;
  height: 571px;
  margin-right: 20px;
  padding: 16px 22px;
  width: 300px;
}

.profile-edit-container {
  background: linear-gradient(194deg, #1f2224 78%, #2d302cfc);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.profile-video-container {
  position: relative;
}

.profile-video {
  border: 2px solid #3b3b3b;
  border-radius: 6px;
  filter: brightness(0.94);
  height: 600px;
  position: relative;
}

.profile-image {
  background-color: black;
  border: 2px solid #5a6d58;
  border-radius: 50%;
  max-height: 110px;
  object-fit: contain;
  transition: transform 1s;
  width: 110px;
}

.profile-image:hover {
  transform: rotateY(180deg);
}

.profile-edit-image {
  transform: rotateY(180deg);
}

.profile-edit-image:hover {
  transform: rotateY(0deg);
}

.image-plus-button {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.image-plus-input {
  flex-wrap: wrap;
}

.edit-profile-button {
  background-color: #1a1b1be0;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #3e3f3f;
  color: #3ca33c;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  outline: none;
  padding: 6px 10px;
}

.edit-profile-button:hover {
  background-color: #202020;
  box-shadow: 0 0 1px 1px #3e3f3f;
}

.mute-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.2s ease-in-out;
}

.mute-button:hover {
  filter: brightness(1.084);
  transform: scale(1.15);
}

.mute-container {
  display: flex;
  flex-direction: column;
}

.profile-key {
  border: 1px solid;
  border-image: linear-gradient(transparent 30%, #3eac38) 1;
  border-left-width: 2px;
  border-right: none;
  border-top: none;
  color: #6da16b;
  margin: 0;
  padding: 1px 5px;
}

.profile-value {
  font-size: 1.1em;
  margin: 0;
}

.profile-description {
  font-style: italic;
}

.profile-input-container {
  align-items: center;
  display: flex;
}

.profile-input {
  background-color: grey;
  border: none;
  border-radius: 4px;
  color: #c5e7e2;
  height: 40px;
  margin-right: 4px;
  overflow-y: scroll;
  padding-left: 8px;
  width: 265px;
}

.profile-edit-input-image {
  margin-top: 8px;
}

.profile-edit-description {
  height: 90px;
  resize: none;
}

.save-profile-button {
  background-color: #31a531;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #c5e7e2;
  cursor: pointer;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  z-index: 1;
}

.save-profile-button:hover:before {
  animation: gradient 1.4s ease-out infinite;
  background: linear-gradient(120deg, #3c5a63, #31a531, #3c5a63 50%, #31a531);
  background-size: 400% 400%;
  border-radius: 4px;
  content: '';
  height: calc(100% + 4px);
  left: -2px;
  position: absolute;
  top: -2px;
  width: calc(100% + 4px);
  z-index: -1;
}

.save-profile-button:disabled {
  background-color: #666;
  color: #ccc;
  cursor: not-allowed;
}

.save-profile-button:disabled:hover:before {
  background: unset;
  background-color: #666;
}
